.about {
  background-color: #87BBE3;
  color: $color-default-white;
  overflow: hidden;

  .container {
    display: flex;

    @include vp-1023 {
      flex-direction: column-reverse;
    }
  }
}
.about__photo {
  @include adaptiveFull('margin-left', -100, -60, -40);
  max-width: 35vw;
  min-height: 100%;
  object-fit: cover;

  @media screen and (min-width: 1920px) {
    margin-left: var(--margin-width);
  }

  @include vp-1023 {
    max-width: 100vw;
    height: 410px;
    width: 100vw;
    @include adaptiveFull('margin-left', -100, -60, -40);
  }
}
.about__text {
  @include adaptiveFull('margin-left', 100, 60, 40);
  @include adaptiveFull('padding-top', 100, 60, 60);
  max-width: 860px;
  padding-bottom: 60px;

  @include vp-1023 {
    margin: 0;
  }
}
.about__title {
  margin-bottom: var(--default-margin);
}
.about__description {
  margin: 0 0 var(--default-margin);
}
.about__link {
}