.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 40px;
  @include adaptiveFull('font-size', 18, 16, 16);
  line-height: 20px;
  border-radius: 100px;
  border: 2px solid $color-default-white;
  text-transform: uppercase;
  transition: $trans-default;
  color: $color-default-white;

  @include hover-focus {
    background-color: $color-default-white;
    color: #2C2927;
  }

  &--dark {
    border-color: #57504C;
    color: #57504C;

    @include hover-focus {
      background-color: #57504C;
      color: $color-default-white;
    }
  }
}