.form {
  

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include vp-767 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .custom-input {
  }

  .grid-column-2 {
    grid-column: span 2;

    @include vp-767 {
      grid-column: span 1;
    }
  }
}
.form__title {
  margin: 0;
  @include adaptiveFull('margin-bottom', 20, 10, 0);
  @include adaptiveFull('font-size', 18, 16, 16);
  font-weight: 500;
}
.form__submit {
  min-width: 240px;
  margin-right: 24px;

  @include vp-767 {
    margin: 0 0 20px;
    width: 100%;
  }
}
.form__agreement {
  @include adaptiveFull('font-size', 16, 12, 12);
  align-self: center;

  a {
    text-decoration: underline;
  }
}
.form__success {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  height: calc((100 * var(--vh, 1vh)) - var(--header-height));
  background-color: $color-white;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $trans-default;
  opacity: 0;
  pointer-events: none;

  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }
}
.form__success-close {
  position: absolute;
  @include adaptiveDesktopToMobile('top', 65, 40);
  @include adaptiveDesktopToMobile('right', 100, 15);
  background-color: $color-tundora;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $trans-default;

  @include hover-focus {
    background-color: $color-equator;
  }
}
.form__success-close-icon {
}
.form__success-text {
  color: $color-equator;
  max-width: 92%;
  text-align: center;
}
.form__footer {
  display: flex;
  align-items: center;
  margin-top: 10px;

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}