.header {
  background-color: #2C2927;
  position: sticky;
  top: 0;
  z-index: 999;
  color: $color-white;
  font-size: 16px;
  padding: 12px 0 18px;

  &.is-active {
    .header__hamburger-icon {
      &:first-child {
        display: none;
      }
      &:last-child {
        display: block;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;

    @include vp-1279 {
      justify-content: space-between;
    }
  }
}
.header__logo {
  @include adaptiveDesktopToMobile('width', 240, 180);
  @include adaptiveDesktopToMobile('margin-bottom', 13, 0);
}
.header__logo-img {
}
.header__menu {
  margin-left: auto;

  @include vp-1279 {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    opacity: 0;
    pointer-events: none;
    transition: $trans-default;
    display: flex;
    justify-content: flex-end;

    &.is-active {
      opacity: 1;
      pointer-events: all;
      background-color: #FFFFFF;
    }
  }
}
.header__menu-list {
  @include reset-list;

  display: flex;
  @include adaptiveFull('margin-left', -20, 0, 0);
  @include adaptiveFull('margin-right', -20, 0, 0);

  @include vp-1279 {
    color: #2C2927;
    text-align: right;
    flex-direction: column;
    width: 100%;
    max-width: 520px;
    margin-left: auto;
    padding: 40px
  }
}
.header__menu-item {
  @include adaptiveFull('margin-left', 20, 0, 0);
  @include adaptiveFull('margin-right', 20, 0, 0);
  text-transform: uppercase;

  &--with-list {
    position: relative;

    .header__menu-link {
      display: flex;
      align-items: center;

      &::after {
        content: url('../img/content/arrow.svg');
        margin-left: 8px;
        transform: translateY(-3px);
      }
    }

    &:hover {
      .header__menu-link {
        &::after {
          transition: $trans-default;
          transform: translateY(6px) rotate(180deg);
        }
      }

      .header__menu-item-list {
        opacity: 1;
        pointer-events: all;
        display: block;
      }
    }
  }

  &--mobile {
    display: none;
  }

  @include vp-1279 {
    &--mobile {
      display: block;

      font-size: 20px;
      font-weight: 700;
      line-height: 24px;

      &:last-child {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-decoration: underline;
        text-transform: none;
      }

      .header__menu-link {
        padding-bottom: 10px;
      }
    }
  }
}
.header__menu-logo {
  margin-bottom: 60px;
}
.header__menu-close {
  display: none;

  @include vp-1279 {
    display: block;
    position: absolute;
    @include adaptiveFull('width', 36, 36, 24);
    @include adaptiveFull('height', 36, 36, 24);
    @include adaptiveFull('top', 36, 36, 24);
    @include adaptiveFull('right', 36, 36, 24);
  }
}
.header__menu-link {
  display: block;

  @include vp-1279 {
    padding-bottom: 30px;
  }
}
.header__menu-item-list {
  padding-top: 10px;
  @include reset-list;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: $trans-default;
  transform: translateY(100%);

  @include vp-1279 {
    position: static;
    transform: unset;
    display: none;
    padding: 0;
  }
}
.header__menu-item-list-item {
}
.header__menu-item-list-link {
  display: block;
  padding: 12px 20px;
  background-color: $color-bokara-grey;
  border-top: 1px solid #363433;
  white-space: nowrap;

  @include vp-1279 {
    border: unset;

    &:first-child {
      padding-top: 0;
    }
  }
}
.header__contacts {
  padding: 11px 54px;
  border-radius: 5px;
  border: 1px solid $color-white;
  transition: $trans-default;

  @include hover-focus {
    border: 1px solid $color-equator;
  }

  @include vp-1279 {
    display: none;
  }
}
.header__phone {
  margin-left: auto;
  margin-right: 50px;

  display: none;

  @include vp-1279 {
    display: block;
  }
}
.header__phone-icon {
}
.header__hamburger {
  display: none;

  @include vp-1279 {
    display: block;
  }
}
.header__hamburger-icon {
  &:last-child {
    display: none;
  }
}
.header__social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__social-link {
  &:not(:last-child) {
    margin-right: 8px;
  }
}