<section class="about">
  <div class="container">
    <img src="img/content/about.png" alt="" class="about__photo">
    <div class="about__text">
      <h2 class="about__title title-h3">О компании</h2>
      <p class="about__description text-norm">
        История бренда «Сыробогатов» началась с маленького торгового дома более 25 лет назад.<br><br>

        За эти годы наша компания выросла до крупнейшего производителя сыра в России, завоевав сердца множества покупателей. Сегодня мы с гордостью производим более Х тонн продукции в день на двух собственных производственных площадках.<br><br>

        Хотите узнать больше или рассмотреть варианты сотрудничества с нами? Мы приглашаем вас посетить наш сайт.
      </p>
      <a href="#" class="about__link btn">Перейти на сайт</a>
    </div>
  </div>
</section>