<section class="advantages">
  <div class="container">
    <div class="advantages__slider swiper">
      <div class="swiper-wrapper">
        <div class="advantages__slide swiper-slide">
          <img src="img/content/advantages-5.svg" alt="" class="advantages__slide-icon">
          <div class="advantages__slide-text">Варим сыр на собственных<br> производственных площадках</div>
        </div>
        <div class="advantages__slide swiper-slide">
          <img src="img/content/advantages-6.svg" alt="" class="advantages__slide-icon">
          <div class="advantages__slide-text">Тщательно проверяем<br> качество каждой партии сыра</div>
        </div>
        <div class="advantages__slide swiper-slide">
          <img src="img/content/advantages-7.svg" alt="" class="advantages__slide-icon">
          <div class="advantages__slide-text">Сохраняем вкус и пользу<br> натурального молока</div>
        </div>
        <div class="advantages__slide swiper-slide">
          <img src="img/content/advantages-8.svg" alt="" class="advantages__slide-icon">
          <div class="advantages__slide-text">Завоевываем признание<br> экспертов</div>
        </div>
      </div>
      <div class="swiper-navigation">
        <button class="swiper-navigation-btn swiper-navigation-btn--next"></button>
      </div>
    </div>
  </div>
</section>