<section class="advantages">
  <div class="container">
    <div class="advantages__slider swiper">
      <div class="swiper-wrapper">
        <div class="advantages__slide swiper-slide">
          <img src="img/content/advantages-9.svg" alt="" class="advantages__slide-icon">
          <div class="advantages__slide-text">Наши сыры — желанные<br> гости на каждом столе семьи</div>
        </div>
        <div class="advantages__slide swiper-slide">
          <img src="img/content/advantages-10.svg" alt="" class="advantages__slide-icon">
          <div class="advantages__slide-text">100% натуральный состав</div>
        </div>
        <div class="advantages__slide swiper-slide">
          <img src="img/content/advantages-11.svg" alt="" class="advantages__slide-icon">
          <div class="advantages__slide-text">Широкий ассортимент и<br> разнообразие вкусов</div>
        </div>
        <div class="advantages__slide swiper-slide">
          <img src="img/content/advantages-12.svg" alt="" class="advantages__slide-icon">
          <div class="advantages__slide-text">Комфортные цены<br> на все линейки</div>
        </div>
      </div>
      <div class="swiper-navigation">
        <button class="swiper-navigation-btn swiper-navigation-btn--next"></button>
      </div>
    </div>
  </div>
</section>