<section class="advantages">
  <div class="container">
    <div class="advantages__slider swiper">
      <div class="swiper-wrapper">
        <div class="advantages__slide swiper-slide">
          <img src="img/content/advantages-1.svg" alt="" class="advantages__slide-icon">
          <div class="advantages__slide-text">Не повторяем,<br> а создаём свое</div>
        </div>
        <div class="advantages__slide swiper-slide">
          <img src="img/content/advantages-2.svg" alt="" class="advantages__slide-icon">
          <div class="advantages__slide-text">Натуральные сыры из<br> качественных ингредиентов</div>
        </div>
        <div class="advantages__slide swiper-slide">
          <img src="img/content/advantages-3.svg" alt="" class="advantages__slide-icon">
          <div class="advantages__slide-text">Строгий контроль<br> на всех этапах</div>
        </div>
        <div class="advantages__slide swiper-slide">
          <img src="img/content/advantages-4.svg" alt="" class="advantages__slide-icon">
          <div class="advantages__slide-text">Современное<br> оборудование</div>
        </div>
      </div>
      <div class="swiper-navigation">
        <button class="swiper-navigation-btn swiper-navigation-btn--next"></button>
      </div>
    </div>
  </div>
</section>