<section class="detail text-norm">
  <div class="container">
    <h2 class="detail__title title-h2">Маасдам, 8 кг</h2>
    <div class="detail__info">
      <div class="detail__division">Полутвёрдый сыр PREMIUM</div>
      <div class="detail__description">
        «Маасдам» отличается сладковатым, терпким, в меру островатым вкусом. Узнаваемым признаком этого сорта являются характерные круглые дырочки. Идеально подходит как для бутербродов, так и для сырной тарелки.
      </div>
      <div class="detail__indicators">
        <div class="detail__indicator">
          <div class="detail__indicator-name">Энергетическая ценность (ккал)</div>
          <div class="detail__indicator-value">362</div>
        </div>
        <div class="detail__indicator">
          <div class="detail__indicator-name">Белки (г)</div>
          <div class="detail__indicator-value">23</div>
        </div>
        <div class="detail__indicator">
          <div class="detail__indicator-name">Жиры (г)</div>
          <div class="detail__indicator-value">29</div>
        </div>
        <div class="detail__indicator">
          <div class="detail__indicator-name">Углеводы (г)</div>
          <div class="detail__indicator-value">0</div>
        </div>
        <div class="detail__indicator">
          <div class="detail__indicator-name">Массовая доля жира (%)</div>
          <div class="detail__indicator-value">45</div>
        </div>
      </div>
    </div>
    <div class="detail__slider swiper">
      <div class="swiper-wrapper">
        <div class="detail__slide swiper-slide">
          <img src="img/content/detail.png" alt="" class="detail__slide-photo">
        </div>
        <div class="detail__slide swiper-slide">
          <img src="img/content/detail.png" alt="" class="detail__slide-photo">
        </div>
        <div class="detail__slide swiper-slide">
          <img src="img/content/detail.png" alt="" class="detail__slide-photo">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="detail__more">
      <div class="detail__advantages">
        <div class="detail__advantage">
          <img src="img/content/detail-advantage-1.svg" alt="" class="detail__advantage-icon">
          <div class="detail__advantage-name">Оригинальный, сладковатый, в меру терпкий вкус</div>
        </div>
        <div class="detail__advantage">
          <img src="img/content/detail-advantage-2.svg" alt="" class="detail__advantage-icon">
          <div class="detail__advantage-name">Идеален для бутербродов и сырной тарелки</div>
        </div>
        <div class="detail__advantage">
          <img src="img/content/detail-advantage-3.svg" alt="" class="detail__advantage-icon">
          <div class="detail__advantage-name">Изготовлен по традиционным рецептам</div>
        </div>
      </div>
      <a href="#" class="detail__recipes btn btn--dark">рецепты</a>
    </div>
  </div>
</section>