<section class="filters">
  <div class="filters__main">
    <a href="#" class="filters__main-item is-active">
      <div class="filters__main-item-name">полутвёрдые сыры</div>
      <img src="img/content/filter-1.svg" alt="" class="filters__main-item-icon">
    </a>
    <a href="#" class="filters__main-item">
      <div class="filters__main-item-name">плавленые сыры</div>
      <img src="img/content/filter-2.svg" alt="" class="filters__main-item-icon">
    </a>
    <a href="#" class="filters__main-item">
      <div class="filters__main-item-name">творожные сыры</div>
      <img src="img/content/filter-3.svg" alt="" class="filters__main-item-icon">
    </a>
    <a href="#" class="filters__main-item">
      <div class="filters__main-item-name">рассольные сыры</div>
      <img src="img/content/filter-4.svg" alt="" class="filters__main-item-icon">
    </a>
  </div>
  <div class="container">
    <div class="filters__more">
      <div class="filters__level">
        <a href="#" class="filters__level-item is-active">весовые сыры</a>
        <a href="#" class="filters__level-item">слайсы</a>
        <a href="#" class="filters__level-item">мелкая фасовка</a>
      </div>
      <div class="filters__level">
        <a href="#" class="filters__level-item is-active">европейская линейка</a>
        <a href="#" class="filters__level-item">Сыры на каждый день</a>
        <a href="#" class="filters__level-item">Оригинальные сыры</a>
      </div>
      <div class="filters__select custom-select" data-select>
        <span class="custom-select__label"></span>
        <span class="custom-select__error"></span>
        <button class="custom-select__button" type="button" aria-label="Выберите одну из опций">
          <span class="custom-select__text"></span>
          <span class="custom-select__icon"></span>
        </button>
        <ul class="custom-select__list">
          <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="true">весовые сыры</li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-2">слайсы</li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-3">мелкая фасовка</li>
        </ul>
      </div>
      <div class="filters__select custom-select" data-select>
        <span class="custom-select__label"></span>
        <span class="custom-select__error"></span>
        <button class="custom-select__button" type="button" aria-label="Выберите одну из опций">
          <span class="custom-select__text"></span>
          <span class="custom-select__icon"></span>
        </button>
        <ul class="custom-select__list">
          <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="true">европейская линейка</li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-2">Сыры на каждый день</li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-3">Оригинальные сыры</li>
        </ul>
      </div>
    </div>
  </div>
</section>