<section class="line">
  <div class="container">
    <h2 class="line__title title-h3">все вкусы этой линейки</h2>
  </div>
  <div class="line__slider-wrapper container">
    <div class="line__slider swiper">
      <div class="swiper-wrapper">
        <a href="#" class="line__slide swiper-slide is-active">
          <img src="img/content/line-1.png" alt="" class="line__slide-photo">
          <div class="line__slide-name">Маасдам, 8 кг</div>
        </a>
        <a href="#" class="line__slide swiper-slide">
          <img src="img/content/line-2.png" alt="" class="line__slide-photo">
          <div class="line__slide-name">Пармезан, 8 кг</div>
        </a>
        <a href="#" class="line__slide swiper-slide">
          <img src="img/content/line-3.png" alt="" class="line__slide-photo">
          <div class="line__slide-name">Чеддер, 8 кг</div>
        </a>
        <a href="#" class="line__slide swiper-slide">
          <img src="img/content/line-4.png" alt="" class="line__slide-photo">
          <div class="line__slide-name">Швейцарский, 8 кг</div>
        </a>
        <a href="#" class="line__slide swiper-slide">
          <img src="img/content/line-5.png" alt="" class="line__slide-photo">
          <div class="line__slide-name">Маасдам, 1.5 кг</div>
        </a>
        <a href="#" class="line__slide swiper-slide">
          <img src="img/content/line-6.png" alt="" class="line__slide-photo">
          <div class="line__slide-name">Маасдам, 8 кг</div>
        </a>
        <a href="#" class="line__slide swiper-slide">
          <img src="img/content/line-3.png" alt="" class="line__slide-photo">
          <div class="line__slide-name">Швейцарский, 8 кг</div>
        </a>
        <a href="#" class="line__slide swiper-slide">
          <img src="img/content/line-2.png" alt="" class="line__slide-photo">
          <div class="line__slide-name">Чеддер, 8 кг</div>
        </a>
      </div>
    </div>
    <div class="swiper-controls">
      <button class="swiper-navigation-btn swiper-navigation-btn--prev"></button>
      <div class="swiper-pagination"></div>
      <button class="swiper-navigation-btn swiper-navigation-btn--next"></button>
    </div>
  </div>
</section>