<section class="main-catalog">
  <div class="main-catalog__slider swiper">
    <div class="swiper-wrapper">
      <div class="main-catalog__item swiper-slide">
        <h3 class="main-catalog__item-title title-h3">Полутвёрдые сыры</h3>
        <img src="img/content/catalog-1.png" alt="" class="main-catalog__item-photo">
        <div class="main-catalog__item-hover">
          <h3 class="main-catalog__item-title title-h3">Полутвёрдые сыры</h3>
          <p class="main-catalog__item-description">
            Безупречное качество наших полутвёрдых сыров оценили уже миллионы людей по всей России и за её пределами. Строгий контроль качества, стерильное производство и качественная упаковка позволяют сохранить вкус и пользу натурального молока.
          </p>
          <a href="#" class="main-catalog__item-link btn">Посмотреть все</a>
        </div>
      </div>
      <div class="main-catalog__item swiper-slide">
        <h3 class="main-catalog__item-title title-h3">плавленые сыры</h3>
        <img src="img/content/catalog-2.png" alt="" class="main-catalog__item-photo">
        <div class="main-catalog__item-hover">
          <h3 class="main-catalog__item-title title-h3">плавленые сыры</h3>
          <p class="main-catalog__item-description">
            Сливочные сыры, при производстве которых используются натуральные ингредиенты — полутвердые сыры, творог, масло, а также наполнители. Мы проводим классическую пастеризацию: нагреваем массу до 80 градусов, чтобы обеспечить безопасность, сохранив при этом полезные свойства.
          </p>
          <a href="#" class="main-catalog__item-link btn">Посмотреть все</a>
        </div>
      </div>
      <div class="main-catalog__item swiper-slide">
        <h3 class="main-catalog__item-title title-h3">творожные сыры</h3>
        <img src="img/content/catalog-3.png" alt="" class="main-catalog__item-photo">
        <div class="main-catalog__item-hover">
          <h3 class="main-catalog__item-title title-h3">творожные сыры</h3>
          <p class="main-catalog__item-description">
            Для производства творожных сыров используется свежий творог, в который добавляются натуральные ингредиенты, такие как зелень, лисички, инжир и груша. Наши сыры выпускаются в удобном стаканчике, легко намазываются и подходят для приготовления десертов и закусок.
          </p>
          <a href="#" class="main-catalog__item-link btn">Посмотреть все</a>
        </div>
      </div>
      <div class="main-catalog__item swiper-slide">
        <h3 class="main-catalog__item-title title-h3">рассольные сыры</h3>
        <img src="img/content/catalog-4.png" alt="" class="main-catalog__item-photo">
        <div class="main-catalog__item-hover">
          <h3 class="main-catalog__item-title title-h3">рассольные сыры</h3>
          <p class="main-catalog__item-description">
            Пикантные рассольные сыры, которые отличает большое содержание соли. Наши сыры богаты витаминами и микроэлементами, в них содержится большое количество фолиевой кислоты, кальция и селена.
          </p>
          <a href="#" class="main-catalog__item-link btn">Посмотреть все</a>
        </div>
      </div>
    </div>
    <div class="swiper-controls">
      <button class="swiper-navigation-btn swiper-navigation-btn--prev"></button>
      <div class="swiper-pagination"></div>
      <button class="swiper-navigation-btn swiper-navigation-btn--next"></button>
    </div>
  </div>
</section>