<section class="banner">
  <div class="banner__slider swiper">
    <div class="swiper-wrapper">
      <div class="banner__slide swiper-slide">
        <img src="img/content/recipes-1.png" alt="" class="banner__slide-img" width="1920" height="760">
        <p class="banner__slide-subtitle title-h3">рецепты</p>
        <h3 class="banner__slide-title">Сырный суп-пюре с морепродуктами</h3>
        <p class="banner__slide-description text-norm">
          Сырный крем-суп с морепродуктами — блюдо, которое сочетает в себе богатый сырный вкус и нежность морепродуктов. Этот суп является популярным выбором для любителей морепродуктов, так как он включает в себя разнообразные вкусы и текстуры.
        </p>
        <a href="#" class="banner__slide-link btn">посмотреть рецепт</a>
      </div>
      <div class="banner__slide swiper-slide">
        <img src="img/content/recipes-2.png" alt="" class="banner__slide-img" width="1920" height="760">
        <p class="banner__slide-subtitle title-h3">рецепты</p>
        <h3 class="banner__slide-title">Пряное сырное печенье</h3>
        <p class="banner__slide-description text-norm">
          Сырный крем-суп с морепродуктами — блюдо, которое сочетает в себе богатый сырный вкус и нежность морепродуктов. Этот суп является популярным выбором для любителей морепродуктов, так как он включает в себя разнообразные вкусы и текстуры.
        </p>
        <a href="#" class="banner__slide-link btn">посмотреть рецепт</a>
      </div>
      <div class="banner__slide swiper-slide">
        <img src="img/content/recipes-3.png" alt="" class="banner__slide-img" width="1920" height="760">
        <p class="banner__slide-subtitle title-h3">рецепты</p>
        <h3 class="banner__slide-title">Паста запеченная с сыром и помидорами</h3>
        <p class="banner__slide-description text-norm">
          Сырный крем-суп с морепродуктами — блюдо, которое сочетает в себе богатый сырный вкус и нежность морепродуктов. Этот суп является популярным выбором для любителей морепродуктов, так как он включает в себя разнообразные вкусы и текстуры.
        </p>
        <a href="#" class="banner__slide-link btn">посмотреть рецепт</a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-navigation">
      <button class="swiper-navigation__btn swiper-navigation__btn--prev"></button>
      <button class="swiper-navigation__btn swiper-navigation__btn--next"></button>
    </div>
  </div>
</section>