<section class="production">
  <div class="container">
    <div class="production__text">
      <p class="production__subtitle title-h3">производство</p>
      <h2 class="production__title title-h2">Мы гордимся нашим современным производственным процессом</h2>
      <ul class="production__list text-norm">
        <li class="production__item">Сырьевой цех способен перерабатывать до 350 тонн молока в сутки, обеспечивая стабильную и высокую производительность.</li>
        <li class="production__item">У нас установлена автоматизированная линия по выработке полутвёрдых сыров мощностью 35 тонн в сутки.</li>
        <li class="production__item">На предприятии расположена собственная лаборатория, которая ведет строжайший контроль на всех этапах производства.</li>
      </ul>
    </div>
    <div class="production__photo-wrapper">
      <img src="img/content/production.png" alt="" class="production__photo">
      <div class="production__photo-text">
        <img src="img/content/logo-mini.svg" alt="" class="production__photo-logo" width="91" height="138">
        <p class="production__photo-description">Наша миссия — возвращение у потребителя высокого мнения о качестве продукта российского производства.</p>
      </div>
    </div>
  </div>
</section>


