<section class="recipes">
  <div class="container">
    <div class="recipes__tags-wrapper">
      <h3 class="recipes__tags-title text-norm">Быстрый поиск:</h3>
      <ul class="recipes__tags text-norm">
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link is-active">все рецепты</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">завтрак</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">обед</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">ужин</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">быстро</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">бутерброды</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">суп</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">салаты</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">закуски</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">гарниры</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">запеканки</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">торты</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">выпечка</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">десерты</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">соусы</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">с овощами</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">с мясом</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">с рыбой</a>
        </li>
        <li class="recipes__tag">
          <a href="#" class="recipes__tag-link">с морепродуктами</a>
        </li>
      </ul>
    </div>
    <ul class="recipes__cards">
      <li class="recipes__card">
        <a href="#" class="recipes__card-link">
          <img src="img/content/recipes-card-1.png" alt="" class="recipes__card-photo">
          <div class="recipes__card-text">
            <h3 class="recipes__card-title text-norm">Сырный суп-пюре с морепродуктами</h3>
            <div class="recipes__card-info">
              <div class="recipes__card-info-item">
                <img src="img/content/icon-1.svg" alt="" class="recipes__card-info-item-icon">
                <div class="recipes__card-info-item-name">1 час 10 мин.</div>
              </div>
              <div class="recipes__card-info-item">
                <img src="img/content/icon-2.svg" alt="" class="recipes__card-info-item-icon">
                <div class="recipes__card-info-item-name">5 порций</div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="recipes__card">
        <a href="#" class="recipes__card-link">
          <img src="img/content/recipes-card-2.png" alt="" class="recipes__card-photo">
          <div class="recipes__card-text">
            <h3 class="recipes__card-title text-norm">Сырный суп-пюре с морепродуктами</h3>
            <div class="recipes__card-info">
              <div class="recipes__card-info-item">
                <img src="img/content/icon-1.svg" alt="" class="recipes__card-info-item-icon">
                <div class="recipes__card-info-item-name">1 час 10 мин.</div>
              </div>
              <div class="recipes__card-info-item">
                <img src="img/content/icon-2.svg" alt="" class="recipes__card-info-item-icon">
                <div class="recipes__card-info-item-name">5 порций</div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="recipes__card">
        <a href="#" class="recipes__card-link">
          <img src="img/content/recipes-card-3.png" alt="" class="recipes__card-photo">
          <div class="recipes__card-text">
            <h3 class="recipes__card-title text-norm">Сырный суп-пюре с морепродуктами</h3>
            <div class="recipes__card-info">
              <div class="recipes__card-info-item">
                <img src="img/content/icon-1.svg" alt="" class="recipes__card-info-item-icon">
                <div class="recipes__card-info-item-name">1 час 10 мин.</div>
              </div>
              <div class="recipes__card-info-item">
                <img src="img/content/icon-2.svg" alt="" class="recipes__card-info-item-icon">
                <div class="recipes__card-info-item-name">5 порций</div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="recipes__card">
        <a href="#" class="recipes__card-link">
          <img src="img/content/recipes-card-4.png" alt="" class="recipes__card-photo">
          <div class="recipes__card-text">
            <h3 class="recipes__card-title text-norm">Сырный суп-пюре с морепродуктами</h3>
            <div class="recipes__card-info">
              <div class="recipes__card-info-item">
                <img src="img/content/icon-1.svg" alt="" class="recipes__card-info-item-icon">
                <div class="recipes__card-info-item-name">1 час 10 мин.</div>
              </div>
              <div class="recipes__card-info-item">
                <img src="img/content/icon-2.svg" alt="" class="recipes__card-info-item-icon">
                <div class="recipes__card-info-item-name">5 порций</div>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>