<section class="where">
  <div class="container">
    <div class="where__text">
      <p class="where__subtitle title-h3">где купить</p>
      <h2 class="where__title title-h2">Вы с лёгкостью найдёте продукцию ТМ «Сыробогатов» в своём городе</h2>
      <p class="where__description text-norm">Наши сыры представлены на полках магазинов по всей стране, чтобы каждый покупатель мог наслаждаться великолепным вкусом и качеством сыра.</p>
    </div>
    <div class="where__shops">
      <div class="where__shops-division">
        <div class="where__shops-division-title">Сетевые магазины</div>
        <div class="where__shops-division-shops swiper">
          <div class="swiper-wrapper">
            <div class="where__shops-division-shop swiper-slide">
              <img src="img/content/shop-1.png" alt="" class="where__shops-division-shop-logo" width="250" height="100">
            </div>
            <div class="where__shops-division-shop swiper-slide">
              <img src="img/content/shop-2.png" alt="" class="where__shops-division-shop-logo" width="250" height="100">
            </div>
            <div class="where__shops-division-shop swiper-slide">
              <img src="img/content/shop-3.png" alt="" class="where__shops-division-shop-logo" width="250" height="100">
            </div>
            <div class="where__shops-division-shop swiper-slide">
              <img src="img/content/shop-4.png" alt="" class="where__shops-division-shop-logo" width="250" height="100">
            </div>
            <div class="where__shops-division-shop swiper-slide">
              <img src="img/content/shop-5.png" alt="" class="where__shops-division-shop-logo" width="250" height="100">
            </div>
            <div class="where__shops-division-shop swiper-slide">
              <img src="img/content/shop-6.png" alt="" class="where__shops-division-shop-logo" width="250" height="100">
            </div>
            <div class="where__shops-division-shop swiper-slide">
              <img src="img/content/shop-7.png" alt="" class="where__shops-division-shop-logo" width="250" height="100">
            </div>
          </div>
          <div class="swiper-navigation">
            <button class="swiper-navigation-btn swiper-navigation-btn--prev"></button>
            <button class="swiper-navigation-btn swiper-navigation-btn--next"></button>
          </div>
        </div>
      </div>
      <div class="where__shops-division">
        <div class="where__shops-division-title">Онлайн маркеты</div>
        <div class="where__shops-division-shops swiper">
          <div class="swiper-wrapper">
            <div class="where__shops-division-shop swiper-slide">
              <img src="img/content/shop-8.png" alt="" class="where__shops-division-shop-logo" width="250" height="100">
            </div>
            <div class="where__shops-division-shop swiper-slide">
              <img src="img/content/shop-9.png" alt="" class="where__shops-division-shop-logo" width="250" height="100">
            </div>
            <div class="where__shops-division-shop swiper-slide">
              <img src="img/content/shop-10.png" alt="" class="where__shops-division-shop-logo" width="250" height="100">
            </div>
            <div class="where__shops-division-shop swiper-slide">
              <img src="img/content/shop-11.png" alt="" class="where__shops-division-shop-logo" width="250" height="100">
            </div>
            <div class="where__shops-division-shop swiper-slide">
              <img src="img/content/shop-12.png" alt="" class="where__shops-division-shop-logo" width="250" height="100">
            </div>
            <div class="where__shops-division-shop swiper-slide">
              <img src="img/content/shop-13.png" alt="" class="where__shops-division-shop-logo" width="250" height="100">
            </div>
            <div class="where__shops-division-shop swiper-slide">
              <img src="img/content/shop-14.png" alt="" class="where__shops-division-shop-logo" width="250" height="100">
            </div>
            <div class="where__shops-division-shop swiper-slide">
              <img src="img/content/shop-15.png" alt="" class="where__shops-division-shop-logo" width="250" height="100">
            </div>
          </div>
          <div class="swiper-navigation">
            <button class="swiper-navigation-btn swiper-navigation-btn--prev"></button>
            <button class="swiper-navigation-btn swiper-navigation-btn--next"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>